.fullscreen {
    position: relative;
    width: 800px;
    height: 500px;
    z-index: -1;

}

#rkt {

    width: 200px;
    height: 400px;
    position:absolute;
    transform: translate(500px, 150px);

}
body{
    background-image: url('images/launch_pad.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#newScene{
    background: black;
}