#titleScreen{
    width: 100vw;
    height: 100vh;
    background-image: url("images/title_screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#beginButton{
    position: absolute;
    transform: translate(1120px, 570px);
}

.fullscreen {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -1;

}

body {
    margin: 0;
}

a{
    text-decoration: none;
    color: yellow;
    z-index: 10;
}

#rkt {

    width: 200px;
    height: 400px;
    position:absolute;
    transform: translate(500px, 150px);

}
#main{
    background-image: url('images/launch_pad.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.space{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('images/space.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

#view{
    color: yellow;
    position: absolute;
    transform: translate(750px, 120px);
    z-index: 10;
}

#viewObject{
    max-width: 60%;
    height: auto;
}

.narration{
    width: 300px;
    height: 100px;
    background: midnightblue;

    position: absolute;
    transform: translate(900px, 10px);
}
#text{
    color: white;
    size: 20px;

    text-align: center;

}
#cockpit_top{
    background-image: url('images/cockpit.png');
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

#controls{
    position: absolute;
    width: max-content;
    transform: translate(20vmax, 89vmin);
    z-index: 5;
}

#input1{
    position: absolute;
}
#input2{
    position: absolute;
    width: 15vmax;
    transform: translateX(23vmax);
}
#input3{
    position: absolute;
    transform: translateX(52vmax);
}

#failscreen{
    width: 70vmax;
    height: auto;
    position: absolute;
    align-content: center;
    transform: translate(20vmax, 20vmin);

    background-repeat: no-repeat;
    background-size: cover;
}

.dockText{
    color: yellow;
    size: 20px;
    z-index: 1;
    text-align: center;
}