.fullscreen {
    position: relative;
    width: 800px;
    height: 500px;
    z-index: -1;

}

a{
    text-decoration: none;
    color: black;
}

#rkt {

    width: 200px;
    height: 400px;
    position:absolute;
    transform: translate(500px, 150px);

}
#main{
    background-image: url('images/launch_pad.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#cockpit{
    background-image: url("images/cockpit.png");
    background-repeat: no-repeat;
    background-size: cover;
}